
{% extends 'base.html' %}

{% block body %}

<form method="POST">
  {{ login.hidden_tag() }}

  <div class="field">
    {% for message in login.username.errors %}
    <p class="field-error">{{ message }}</p>
    {% endfor %}
    {{ login.username.label }}
    {{ login.username(class='input') }}
  </div>

  <div class="field">
    {% for message in login.password.errors %}
    <p class="field-error">{{ message }}</p>
    {% endfor %}
    {{ login.password.label }}
    {{ login.password(class='input') }}
  </div>

{{ login.submit() }}
</form>

<p>New user? <a href="{{ url_for('auth_route.register') }}">Click here to register</a></p>

{% endblock %}
