
{% extends 'base.html' %}

{% block body %}

{% include 'components/login-menu.html' %}

<h1>{{current_user.username}}'s notes</h1>

<div class="col">
  <form method="POST" name="note" action="{{ url_for('notes_route.add_note') }}">
    {{ noteForm.hidden_tag() }}

    <div class="field">
      {% for message in noteForm.body.errors %}
      <p class="error">{{ message }}</p>
      {% endfor %}
      {{ noteForm.body.label }}
      {{ noteForm.body(class='input') }}
    </div>

    {{ noteForm.tag.label }}
    {{ noteForm.tag(class='input') }}

    {{ noteForm.submitNote() }}
  </form>

  <form method="POST" name="tag" action="{{ url_for('notes_route.add_tag') }}">
    {{ tagForm.hidden_tag() }}

    <div class="field">
      {% for message in tagForm.tag.errors %}
      <p class="error">{{ message }}</p>
      {% endfor %}
      {{ tagForm.tag.label }}
      {{ tagForm.tag(class='input') }}
    </div>

    {{ tagForm.submitTag() }}
  </form>
</div>

<div class="col">
  <div class="notes">
    {% for note in notes %}
    <article class="note">
      <div class="options">
        <a class="option" href="{{ url_for('notes_route.edit_note', id=note.id) }}">edit</a>
      </div>
      <p class="date">{{ note.timestamp }}</p>
      <p class="date">
        <a class="option" href="{{ url_for('notes_route.notes_by_tag', id=note.tag_id) }}">{{ note.tag.tag }}</a>
      </p>

      <a href="{{ url_for('notes_route.note', id=note.id) }}" class="note-body">
        <p>{{ note.body }}</p>
      </a>

      <form id="delete-form-{{note.id}}" class="delete-form" method="POST" action="{{ url_for('notes_route.delete_note', id=note.id) }}">
        {{ deleteNote.hidden_tag() }}
        {{ deleteNote.submit() }}
      </form>
    </article>
    {% endfor %}
  </div>
</div>

{% endblock %}
