
{% extends 'base.html' %}

{% block body %}

{% include 'components/login-menu.html' %}

<h1>{{current_user.username}}'s notes</h1>

<div class="col">
  <form method="POST">
    {{ noteForm.hidden_tag() }}

    <div class="field">
      {% for message in noteForm.body.errors %}
      <p class="error">{{ message }}</p>
      {% endfor %}
      {{ noteForm.body.label }}
      {{ noteForm.body(class='input') }}
    </div>

    {{ noteForm.submit() }}
  </form>
</div>

<div class="col">
  <div class="notes">
    {% for note in notes %}
    <article class="note">
      <ul class="options">
        <a class="option" href="{{ url_for('notes_route.edit_note', id=note.id) }}">edit</a>
        <a class="option" href="{{ url_for('notes_route.delete_note', id=note.id) }}">delete</a>
      </ul>
      <p class="date">{{ note.timestamp }}</p>

      <a href="{{ url_for('notes_route.note', id=note.id) }}" class="note-body">
        <p>{{ note.body }}</p>
      </a>
    </article>
    {% endfor %}
  </div>
</div>

{% endblock %}
